* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

main{
    margin:50px auto;
    width:960px;
}
.box-contents{
    float:left;
    width:300px;
    padding:10px;
    position:relative;
    box-shadow: 1px 1px 1px 1px gray;
}
.img{
    background-position:center;
    background-size:cover;
    width:280px;
    height:200px;
}
.a{
    background-image: url(./img/flow01.png);
}
.b{
    background-image:url("./img/flow02.png");
}
.c{
    background-image: url("img/flow03.png");
}
.box-contents:nth-child(2){
    margin:0 30px;
}
span{
    position:absolute;
    top:0;
    left:0;
    background-color:orange;
    color:white;
    padding: 1px;
}

@media screen and (max-width:768px) {
    main{
        width:90%;
        margin:0 auto;
        padding:50px 0;
    }
    .box-contents{
        width:100%;
        float:none;
     }
    .img{
        width:100%;
        height:250px;
    }
    .box-contents:nth-child(2){
        margin:20px 0;
    }
    .span{
        width:90%;
    }
}


